<?xml version="1.0" encoding="UTF-8"?>
<suite name="All Test Suite" parallel="tests" thread-count="5">
    <test name="Smoke Tests">
        <groups>
            <run>
                <include name = "positive"/>
                <excllude name = "positive"/>
            </run>
        </groups>
        <classes>
            <class name="checkNumberTest"/>
        </classes>
    </test>
</suite>